### 1. 리스트의 탐색 (2) 
###
- for문을 사용한 리스트 탐색 
    - 1) 인덱스 번호를 기반으로 한 for 문의 활용 
        - for i in range( 0, len[리스트] ) 
            - print( 리스트 [i] ) 
        - 리스트의 인덱스 번호에 대한 범위 설정 :0부터 리스트의 길이 전까지 반복 범위 설정
        - 2차원 리스트의 원소 출력하기 

    - 2) 리스트 자체를 탐색하는 for문 :for문에서 설정한 변수에 직접 할당
        - for i in 리스트: 
            - print( i ) 

- 리스트 원소에 대한 합계, 평균 구하기 
    - 반복 전에 변수 초기화 total = 0
    - 반복하면서 누적 total += 값            
    - 반복 끝난 뒤 평균 계산 average = total / 개수


- 인덱스 번호와 원소를 모두 탐색하는 반복문 
    - for i , v in enumerate(리스트)
        - print( i )
        - print( v )

- 2차원 리스트 탐색 패턴 2가지 
    - 1) 인덱스 번호를 기반으로 한 for 문의 활용 
        - 반복 시작 전에, 합계를 저장할 변수를 0으로 초기화 
        - 총합 , 평균 구하기 
            - 2차원 리스트의 원소 출력하기 
            - 2차원 리스트의 각 원소에 대한 반복문 구성 
    - 2) 리스트 자체를 탐색하는 for문 :for문에서 설정한 변수에 직접 할당
        - 리스트를 반복문에 직접 적용한 경우 
            - 반복 시작 전에, 합계를 저장할 변수를 0으로 초기화 
            - 반복문의 변수가 리스트의 원소가 된다. 
            - 2차원 리스트의 경우 원소는 각각의 자식 리스트가 된다. 


- 기타 
    - 2차원 리스트 = 리스트 안에 리스트

    - mydata[i] → i번째 행
    - mydata[i][j] → i번째 행의 j번째 값

    - 2차원 반복문은 구조적으로 항상 이렇게 된다:
    - for 행 in 2차원리스트:
        - for 값 in 행:
            - 처리


###
---



### 2. 리스트 관련 함수
- 함수  
    - len()
        - 문자열, 리스트, 튜플 등 모든 연속성 자료형에 대해 사용 가능 
    - del() 
        - 파라미터로 전달되는 항목을 리스트에서 삭제 
    - sorted()
        - 파라미터로 전달된 리스트를 정렬하는 함수 : 원본은 유지 / 정렬 결과가 적용본 복사본이 리턴
    - max , min, sum 
        - 평균에 대한 내장함수는 지원하지 않기 때문에 직접 구해야 한다. 
    - 리스트, 튜플 상호 변환 / 수열 만들기 
        - 자료 -> 리스트 / 튜플 -> 리스트, 튜플 / 리스트 -> 리스트, 튜플 
        - range(a b) 객체생성/  수열 객체 -> 리스트 / range(a, b, c) -> list

- 객체 : 필요에 따라 다른 변수와 함수를 내장하고 있는 특수한 변수 
    - 객체이름.변수 / 객체이름.함수()
    - 파이썬에서는 모든 변수가 객체 형태로 존재한다. 
    - 그러므로 우리가 생성하는 모든 변수는 파이썬에 의해 멤버변수와 메서드가 자동으로 내장된다. 

- from GPT 
    - 객체 = “데이터 + 그 데이터를 다루는 기능”이 같이 묶여 있는 것
    - x = 10
    - 겉으로 보면 그냥 숫자 10이지?
    - 그런데 파이썬 내부에서는 이렇게 생각한다:
    - "10이라는 숫자 데이터 + 숫자가 할 수 있는 기능들"
    - 즉, 10은 단순 숫자가 아니라, 정수(int) 객체야.

    - 파이썬은 **객체지향 언어(Object-Oriented Language)**야.
    - 멤버변수 = 객체 안에 들어있는 변수(데이터)
    - 쉽게 말하면: 객체가 가지고 있는 속성
    - name = "연주" 이건 문자열 객체야.
    - 문자열 객체는 내부적으로 이런 속성을 가지고 있어:
    - 길이, 문자 데이터, 인코딩 정보 등 우리가 직접 보진 못하지만 내부에 들어있어.

    - 메서드(Method)란 무엇인가?
    - 메서드 = 객체 안에 들어있는 함수
    - 즉, 객체가 할 수 있는 행동(기능)
    - a = "hello"
    - a.upper()
    - 여기서 a → 문자열 객체
    - .upper() → 문자열 객체가 가지고 있는 기능(메서드)
    - apper()는 문자열을 대문자로 바꾸는 기능이지? 이게 바로 메서드야.

    - 리스트도 객체야. 리스트 객체는 이런 메서드를 가지고 있어:
    - append(), remove(), pop(), sort() 
    - mylist.append(4) "mylist 객체 안에 있는 append 기능을 실행해라"


    - 객체이름.기능()   "이 객체가 가지고 있는 기능을 실행해라"

    - 그럼 멤버변수는 언제 보일까? 우리가 클래스를 직접 만들면 보이기 시작해.









- 원소    
    - 객체이름.count() 주어진 값과 일치하는 원소의 개수 세기 
    - 객체이름.index() 특정 원소가 처음으로 나타나는 위치 찾기 
    - 객체이름.append() 리스트의 맨 뒤에 원소를 추가하는 함수 
        - 리스트를 append 할 경우, 2차 리스트로 삽입 [ 1, 2, 3, [4, 5] ]
    - 객체이름.insert(a, b) a번째 위치에 b를 삽입 , 기존의 항목들은 뒤로 밀려난다. 
         - 객체이름.insert(lastIndex, n) ~ append와 같은 효과 
    - 객체이름.pop() 맨 마지막 요소를 꺼내서 리턴하고 원본에서는 삭제 
    - 객체이름.extend() 메서드를 호출한 원본에 파라미터로 전달된 리스트를 덧붙인다. 
    - 객체이름.remove() 주어진 값과 일치하는 첫번째 원소를 삭제 
    - 객체이름.reverse() 원소의 순서를 뒤집니다, 원본 자체가 변한다. 

    - 객체이름.sort() 리스트의 원소 순차정렬(오름차순), 객체 원본에 반영된다.
    - 객체이름.sort(reverse = True) 리스트의 원소 역순정렬(내림차순), 객체 원본에 반영된다. 
    - 객체이름.split() 문자열을 잘라서 리스트로 변환하기 
    - 객체이름.join() 리스트를 문자열로 결합하기 
    - 객체이름.divmod() 정수 나눗셈의 몫과 나머지를 튜플로 묶어서 반환한다. 
        - 이를 구조분해로 분리해서 받을 수 있다. 
        - 결과가 튜플로 리턴되므로 값을 서로 다른 변수에 나누어 저장할 수 있다. 



---

    코딩 폰트
핵 
디투 

### 3. 문자열의 이해
- 문자열을 표현하기 위해서, "" '' 으로 문장을 감사야 한다. ~ 혼용시 Error 
- 문자의 배열(리스트)이므로 반복문으로 모든 글자를 탐색 가능  
    - 문자열을 반복문으로 탐색시, 문자 하나씩 출력
- 문자열 덧셈 / 곱셈 
    - 문자열 간의 덧셈은 문자열을 연결 
    - 문자열과 다른 데이터 타입의 값은 덧셈 불가 
    - 문자열 * 숫자 ~ 같은 내용이 곱해진 만큼 반복 
    - 문자열 끼리의 곱셈은 Error 
- 이스케이프 문자 \n \t \" \' \\   ~ 보여주고 싶은 문자 앞에 역슬래시 
    - "You 'need' Python"  문자열을 쌍따옴표로 표현하는 경우 -> 홑따옴표를 포함시킬 수 있다. 
        - You 'need' Python 
    - 'You "need" Python'  문자열을 홑따옴표로 표현하는 경우 -> 쌍다옴표를 포함시킬 수 있다. 
        - You "need" Python 
- 문자열 인덱싱 ~ 처음 0 부터 / 끝 -1 부터
    - 존재하지 않는 인덱스 번호를 사용시 Error
- 문자열 슬라이싱 ~ 문자열변수[ 시작위치 : 끝위치 ] ~ 끝위치-1 까지 
    - [  :n]   , [n:  ], [  :  ]


템들을 채우고 심란해 하자 
일단 공부나 하자 

크롤링, db입출력 부터 ~ 
설날에 공부에 투자하기 

### 4. 문자열 포메팅
- 특정 값이 치환될 형식 문자를 포함한 문자열의 형식(format)을 미리 정해놓고  
    - 형식 문자에 특정 변수 값을 적용하여 완성된 문자열을 만드는 방법 
- 문자열에 포함될 수 있는 형식 문자 
    - %d %f %s %o %x %% 
- 포매팅의 동작 원리 
    - **"문자열 안의 형식문자" % 변수**
    - 구조 분해해보면
    - 문자열 안에 %d 같은 형식 문자 존재
    - % 뒤에 변수 값을 전달
    - 형식 문자가 그 값을 해당 타입으로 변환해서 삽입

- 사용방법 
    - 형식 문자를 포함한 문자열 뒤에 % 연산자를 적용하여 치환할 값을 명시한다. 
    - 직접 출력
    - 두 개 이상의 형식 문자를 포함된 문자열에 치환할 값들은 소괄호()로 묶어 콤마로 구분한다. 
        - 형식 문자가 두 개 이상인 경우 치환할 값이나 변수를 괄호로 묶는다. 

- 정수의 자릿수 표현 **%자리수d**     /   %[옵션][폭][타입]
    - 출력되는 문자열을 자릿수에 맞추어 *오른쪽으로 정렬* 시킨다.
    - 지정된 자리수를 초과하면 그냥 그대로 출력됨 (잘리지 않음)
    - 마이너스(-)는 왼쪽 정렬
    - 문자열은 숫자가 아니기 때문에 "0으로 채운다"는 개념이 없음.
        - 그래서 %010s은 지원되지 않거나 의미가 없음. /  %10s ~ 빈자리에 공백 

- 실수의 자릿수 표현(1) 
    - 형식 문자에 숫자를 포함하여 자릿수 지정 
        - 출력할 값이 지정된 소수점 자릿수를 초과할 경우 반올림 된다. 

- 인덱스 번호를 사용한 문자열 포메팅 ~ 객체이름.format
    - 인덱스를 갖는 치환 문자를 포함한 문자열 객체에 대한 메서드 호출 
    - {숫자} 형식의 치환문자를 문자열에 포함한다. 
        - "과자는 {0}{1}원 이다." 
    - {이름} 형식의 치환문자를 사용할 수 있다. 
        - "과자는 {price}{unit} 입니다." 
        - unit="원", price=2000 
    - 인덱스 번호와 이름의 혼합사용 
        - 숫자형식의 치환문자가 format() 메서드 안에서 먼저 위치해야 한다. 
        - 인덱스 번호는 format() 함수 내의 순서 ~ 형식 문자열 안에서는 자유롭게 배치 가능 
        - format() 메서드 안에서 인덱스 번호보다 이름이 먼저 지정될 경우 Error 
---

### 5. 문자열 관련 함수 
- 문자열의 길이 조회하기 
    - 내장함수 len()

- 메모

지역변수
전역변수

class 객체를 생성하는 소스코드 같은거 

---

객체

1
의사나 행위가 미치는 대상.
2
문장 내에서 동사의 행위가 미치는 대상.
3
작용의 대상이 되는 쪽.


---

1. 
2. **fhkls**
    1.  *fskl*
    2.  ~~00~~
    
국민취업지원제도
https://www.work24.go.kr/ua/z/z/1300/selectEmssRqutIntro.do#none

In [195]:
# 원소의 수를 조회한 다음 직접 반복 범위 지정하기
# -> 단점: 각 원소가 저장되는 변수가 없기 때문에 
#           원소에 대한 접근을 리스트를 통해 직접 수행 해야 한다. 
seasons = ['봄', '여름', '가을', '겨울']

size = len(seasons) 
for i in range(0, size):
    print(i , "번째 원소", seasons[i])

0 번째 원소 봄
1 번째 원소 여름
2 번째 원소 가을
3 번째 원소 겨울

In [196]:
# 리스트의 원소를 for문에서 설정한 변수에 직접 할당한다. 

msg = ['python', 'is', 'good'] 

# -> 리스트의 각 원소를 순차적으로 i에 대입하면서 반복
# -> 단점: 몇 번째 원소인지는 알 수 없다. 
for i in msg :
    print(i)

python
is
good

In [197]:
#리스트 원소에 대한 합계, 평균 구하기 

# 리스트 원소의 총점, 평균 구하기 
# 총합을 위해서는 반복 시작 전에 합계를 저장할 변수를 0으로 초기화 해야 한다. 

# 성적에 대한 총점과 평균 구하기 
score = [100, 82, 98, 76, 51]

# -> 총점을 저장할 변수 
total = 0 

for v in score : 
    # 총점은 각 원소를 누적해서 더한다. 
    total += v

# 평균은 총 합에서 원소의 수를 나눈다.
# -> "//" 는 나눗셈에서 정수부분의 몫만 구한다. 
avg = total // len(score)

print("총첨", total, ", 평균", avg)

총첨 407 , 평균 81

In [198]:
# 리스트의 인덱스와 원소 탐색하기 

# i에는 리스트의 인덱스가 저장된다. 
# v에는 리스트의 값(원소)가 저장된다. 
# i, v는 단순 변수 이므로 개발자 편의에 따라 이름지을 수 있다. 
city = ['서울', '인천', '대구', '대전', '광주', '부산']

for i , v in enumerate(city):
    print(i, "번째 값", v)

0 번째 값 서울
1 번째 값 인천
2 번째 값 대구
3 번째 값 대전
4 번째 값 광주
5 번째 값 부산

In [199]:
# 2차원 리스트 탐색 패턴(1) - step 1 

# 2차원 리스트의 원소 출력하기 
# 2차원 리스트는 각 원소가 각각 개별적인 리스트인 경우 이므로 
# 2차원 리스트의 특정 원소를 출력하면 
# 원소로 포함되어 있는 개별 리스트를 얻을 수 있다. 

mydata = [[88, 72, 83, 90], [63, 77, 72, 80]]

size = len(mydata)
print("size = ", size) 

for i in range(0, size) :
    #
    print(i, "번째 데이터->", mydata[i])

size =  2
0 번째 데이터-> [88, 72, 83, 90]
1 번째 데이터-> [63, 77, 72, 80]

In [200]:
# 2차원 리스트 탐색 패턴(2) - step 2

# 2차원 리스트의 각 원소에 대한 반복문 구성 

mydata = [[88, 72, 83, 90], [63, 77, 72, 80]]

size = len(mydata)              #2차원 리스트의 길이는 행의 수를 반환한다. 
print("size = ", size) 

for i in range(0, size) :       # 행의 수 만큼 반복하는 구성 
    # i번째 행에 포함되어 있는 개별 리스트를 출력한다. 
    print(i, "번째 데이터->", mydata[i])

    total = 0                   # 각 행 단위 합계 이므로 매 행마다 합계 변수를 새로 초기화 한다.
    size = len(mydata[i])       # 각 행에 포함된 개별 리스트의 길이 

    for j in range (0, size) :  # mydata[i]에 대한 새로운 반복문 구성 
        total += mydata[i][j]

    average = total / size      # 행 단위 평균값 

    print(i, "번째 데이터 ==> 총합", total, "평균 = ", average)

size =  2
0 번째 데이터-> [88, 72, 83, 90]
0 번째 데이터 ==> 총합 333 평균 =  83.25
1 번째 데이터-> [63, 77, 72, 80]
1 번째 데이터 ==> 총합 292 평균 =  73.0

In [201]:
# 2차원 리스트 탐색 패턴(2) - step 1 

# 리스트를 반복문에 직접 적용한 경우 
# 반복문의 변수가 리스트의 원소가 된다. 
# 2차원 리스트의 경우 원소는 각각의 자식 리스트가 된다. 
 
mydata = [ [88, 72, 83, 90], [63, 77, 72, 80]]

for row in mydata :             # 행의 수 만큼 반복하는 구성 
    # mydata의 원소 하나인 리스트를 출력한다. 몇 번째 항목인지는 알 수 없다. 
    print( "이번에 출력되는 데이터 ->", row)

이번에 출력되는 데이터 -> [88, 72, 83, 90]
이번에 출력되는 데이터 -> [63, 77, 72, 80]

In [202]:
# 2차원 리스트 탐색 패턴(2) - step 2
# 행 단위 합계, 평균 

mydata = [ [88, 72, 83, 90], [63, 77, 72, 80]]

for row in mydata :             # 행의 수 만큼 반복하는 구성 
    # mydata의 원소 하나인 리스트를 출력한다. 몇 번째 항목인지는 알 수 없다. 
    print( "이번에 출력되는 데이터 -> ", row)

    total = 0                   # 각 행 단위 합계 이므로 매 행마다 합계 변수를 새로 초기화 한다.

    for col in row :            # row에 대한 새로운 반복문 구성 
        total += col 

    average = total / len(row)  # 행 단위 평균값 

    print( row, "에 대한 총합", total, ", 평균 =", average)

이번에 출력되는 데이터 ->  [88, 72, 83, 90]
[88, 72, 83, 90] 에 대한 총합 333 , 평균 = 83.25
이번에 출력되는 데이터 ->  [63, 77, 72, 80]
[63, 77, 72, 80] 에 대한 총합 292 , 평균 = 73.0

### 2. 리스트 관련 함수
- 함수  
    - len()
    - del() 
    - sorted()
    - max , min, sum 
    - 자료 -> 리스트 / 튜플 -> 리스트, 튜플 / 리스트 -> 리스트, 튜플 
    - range(a b) 객체생성/  수열 객체 -> 리스트 / range(a, b, c) -> list

- 객체 : 필요에 따라 다른 변수와 함수를 내장하고 있는 특수한 변수 
    - 객체이름.변수 / 객체이름.함수()
    - 파이썬에서는 모든 변수가 객체 형태로 존재한다. 
    - 그러므로 우리가 생성하는 모든 변수는 파이썬에 의해 멤버변수와 메서드가 자동으로 내장된다. 

- 원소 
    - 객체이름.count() 주어진 값과 일치하는 원소의 개수 세기 
    - 객체이름.index() 특정 원소가 처음으로 나타나는 위치 찾기 
    - 객체이름.append() 리스트의 맨 뒤에 원소를 추가하는 함수 
        - 리스트를 append 할 경우, 2차 리스트로 삽입 
    - 객체이름.insert(a, b) a번째 위치에 b를 삽입 , 기존의 항목들은 뒤로 밀려난다. 
         - :append와 같은 효과 
    - 객체이름.pop() 맨 마지막 요소를 꺼내서 리턴하고 원본에서는 삭제 
    - 객체이름.extend() 메서드를 호출한 원본에 파라미터로 전달된 리스트를 덧붙인다. 
    - 객체이름.remove() 주어진 값과 일치하는 첫번째 원소를 삭제 
    - 객체이름.reverse() 원소의 순서를 뒤집니다, 원본 자체가 변한다. 

    - 객체이름.sort() 리스트의 원소 순차정렬(오름차순), 객체 원본에 저장된다.
    - 객체이름.sort(reverse = True) 리스트의 원소 역순정렬(내림차순), 객체 원본에 저장된다. 
    - 객체이름.split() 문자열을 잘라서 리스트로 변환하기 
    - 객체이름.join() 리스트를 문자열로 결합하기 
    - 객체이름.divmod() 정수 나눗셈의 몫과 나머지를 튜플로 묶어서 반환한다. 
        - 이를 구조분해로 분리해서 받을 수 있다.

In [203]:
# 리스트의 길이 조회 
# len()  : 문자열, 리스트, 튜플 등 모든 연속성 자료형에 대해 사용 가능하다.
mylist = [1, 2, 3]
print(len(mylist))

3

In [204]:
# 리스트의 원소 삭제 
# del(파라미터) : 파라미터로 전달되는 항목을 리스트에서 삭제 

mylist = [ 1, 2, 3] 
del(mylist[1])
print(mylist)

[1, 3]

In [205]:
# 리스트의 원소 정렬
# 파라미터로 전달된 리스트를 정렬하는 sorted()함수 
# 원본은 유지되고, 정렬 결과가 적용된 복사본이 리턴 된다. 
mylist = [4, 2, 5, 3, 1]
print(mylist)

[4, 2, 5, 3, 1]

In [206]:
# sorted() 원소의 순차 정렬
asc = sorted(mylist)
print(asc)

[1, 2, 3, 4, 5]

In [207]:
# reverse 원소의 역순 정렬 
desc = sorted(mylist, reverse=True) 
print(desc)

[5, 4, 3, 2, 1]

In [208]:
print(mylist)

[4, 2, 5, 3, 1]

In [209]:
#
#
#

#
#
a = [1, 2, 3]
print( max(a) )
print( min(a) )
print( sum(a) )

3
1
6

In [210]:
#
avg = sum(a) / len(a)
print(avg)

2.0

In [211]:
#

#
#
a = "Python"
b = list(a) 
# b= tuple(a) 

print(b)

['P', 'y', 't', 'h', 'o', 'n']

In [212]:
#

c = (1, 2, 3) 
d = list(c) 
# d = tuple(c) 

print(d)

[1, 2, 3]

In [213]:
#

e = [10, 20, 30]
f = list(e) 
# f = tuple(e)

print(f)

[10, 20, 30]

In [214]:
#

k = range(1, 10)
print(type(k))
print(k)

<class 'range'>
range(1, 10)

In [215]:
#

z = list(k)
print(z)

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [216]:
#

k = list(range(1, 10, 3))
print(k)

[1, 4, 7]

In [217]:
# 객체 

# 필요에 따라 다른 변수와 함수를 내장하고 있는 특수한 변수
# 객체이름.변수 / 객체이름.함수()

# 파이썬에서 모든 변수는 객체 
# 그러므로 우리가 생성하는 모든 변수는 파이썬에 의해 멤버변수와 메서드가 자동으로 내장된다. 


# 원소의 수 

# 특정 원소의 수 카운트 하기 

# 주어진 값과 일치하는 원소의 개수 세기 
mylist = [1, 2, 3, 2, 4, 2]
c = mylist.count(2) 
print(c)

3

In [218]:
# 특정원소가 처음으로 나타나는 위치 찾기 

mylist = [1, 2, 3, 10, 1, 2, 3, 10]
x = mylist.index(10)
print(x)

3

In [219]:
# 원소를 찾지 못하면 -1이 반환되는 것이 아니라, 에러가 발생한다. 
# y = mylist.index(5)
# print(y)

In [220]:
# 리스트의 원소 추가 (1) 

# append() 
# 맨 뒤에 내용 추가 --> 원본에 직접 반영 

mylist = [1, 2, 3]
mylist.append(4)
print(mylist)

[1, 2, 3, 4]

In [221]:
# 리스트를 append 할 경우 2차 리스트로 삽입
mylist = [1, 2, 3]
mylist.append([5,6])
print(mylist)

[1, 2, 3, [5, 6]]

In [222]:
# 리스트의 원소 추가 (2) 

# 중간삽입 
# -> 1번째 위치에 10을 삽입, 기존의 항목들은 뒤로 밀려난다. 
mylist = [1, 2, 3]
mylist.insert(1, 10)
print(mylist)

[1, 10, 2, 3]

In [223]:
# 맨 앞에 삽입 
# -> 0번째 위치에 10을 삽입, 기존의 항목들은 뒤로 밀려난다. 
mylist = [1, 2, 3]
mylist.insert(0, 10)
print(mylist)

[10, 1, 2, 3]

In [224]:
# append와 같은 효과
mylist = [1, 2, 3] 
lastIndex = len(mylist)
mylist.insert(lastIndex, 10)
print(mylist)

[1, 2, 3, 10]

In [225]:
# 리스트의 원소 추출 

# 맨 마지막 원소를 꺼내서 리턴하고 원본에서 삭제하기 
# 맨 마지막 요소를 꺼내서 리턴하고 원본에서는 삭제 
mylist = [1, 2, 3]
k = mylist.pop()
print(k)
print(mylist)

3
[1, 2]

In [226]:
# 리스트의 확장과 축소 

# extend() 메서드를 호출한 원본에 파라미터로 전달된 리스트를 덧붙인다. 
mylist = [1, 2, 3]
addon = [10, 9, 8, 7]
mylist.extend(addon)
print(mylist)

[1, 2, 3, 10, 9, 8, 7]

In [227]:
# 주어진 값과 일치하는 첫 번재 원소를 삭제 
mylist = [1, 2, 3, 10, 1, 2, 3, 10]
mylist.remove(10) 
print(mylist)

[1, 2, 3, 1, 2, 3, 10]

In [228]:
# 리스트의 역순 배치 

# 원소의 순서를 뒤집는다. 
# 원본 자체가 변한다. 
mylist  = [1, 7, 5, 3, 9]
mylist.reverse()
print(mylist)

[9, 3, 5, 7, 1]

In [229]:
# 리스트 원소의 오름차순, 내림차순 정렬 

# 오름차순 순차 
# 내림차순 역순 

# 순차정렬(오름차순) --> 객체 원본에 반영된다. 
mylist = [2, 5, 1, 4, 3]
mylist.sort()
print(mylist)

[1, 2, 3, 4, 5]

In [230]:
# 역순정렬(내림차순) --> 객체 원본에 반영된다. 
mylist = [2, 5, 1, 4, 3]
mylist.sort(reverse = True )
print(mylist)

[5, 4, 3, 2, 1]

In [231]:
# 문자열을 잘라서 리스트로 변환하기 

# 문자열을 잘라서 리스트로 변환하기 

# 문자열을 주어진 글자를 기준으로 잘라서 리스트로 변환 
# -> 문자열 객체에 포함된 함수 사용 
text = "Hello,Python,World,Good"
mylist = text.split(",")
print(mylist)

['Hello', 'Python', 'World', 'Good']

In [232]:
# 

# 
dl = "$"
mylist = ['Hello', 'Python', 'World', 'Good']
text = dl.join(mylist)
print(text)

Hello$Python$World$Good

In [233]:
#
empty = ""
mylist = ['Hello', 'Python', 'World', 'Good']
text = empty.join(mylist)
print(text)

HelloPythonWorldGood

In [234]:
#
space = " "
mylist = ['Hello', 'Python', 'World', 'Good']
text = space.join(mylist)
print(text)

Hello Python World Good

In [235]:
#  

# 
# 
# 
c = divmod(7,3)
print(c)

(2, 1)

In [236]:
hours = 800
k = divmod(800, 24)
print(k[0], "일", k[1], "시간")

33 일 8 시간

In [237]:
#
days, hours = divmod(900, 24)
print(days, "일", hours, "시간")

37 일 12 시간

코딩 폰트
핵 
디투 

### 3. 문자열의 이해
- 문자열 "" '' ~ 혼용시 오류 
- 문자의 배열(리스트)이므로 반복문으로 모든 글자를 탐색 가능 
- 문자열 간의 덧셈은 문자열을 연결 
- 문자열과 다른 데이터 타입의 값은 덧셈 불가 
- 문자열 * 숫자 ~ 같은 내용이 곱해진 만큼 반복 
- 문자열 끼리의 곱셈은 Error 
- 이스케이프 문자 \n \t \" \' \\ 
- "  '   '   "  문자열을 쌍따옴표로 표현하는 경우 -> 홑따옴표를 포함시킬 수 있다. 
- '  "   "   '  문자열을 홑따옴표로 표현하는 경우 -> 쌍다옴표를 포함시킬 수 있다. 

- 문자열 인덱싱 처음 0 부터 / 끝 -1 부터

In [238]:
# 
#
# 

msg1 = "Life is too short"
msg2 = 'You need Python'
print(msg1)
print(msg2)

Life is too short
You need Python

In [239]:
# SyntaxError: unterminated string literal (detected at line 2)
#msg3 = "Python Study'
#print(msg3)

In [240]:
# 
#
#
mymsg = "Hello"

# 문자열을 반복문으로 탐색하면 문자 하나씩 출력된다. 
for m in mymsg: 
    print(m)

H
e
l
l
o

In [241]:
#

#
#

#
msg1 = "Hello"
msg2 = "Python" 
print( msg1 + ", " +msg2)

Hello, Python

In [242]:
#
#

pay = "20000"
bonus = "100"
print( pay + bonus )

20000100

In [243]:
#

#
# TypeError: can only concatenate str (not "int") to str
# 문자열과 다른 데이터 타입의 값은 덧셈이 불가 
# print( msg1 + 100)

In [244]:
#

#
#
name = "Python"
print(name * 5)

PythonPythonPythonPythonPython

In [245]:
#

#
# TypeError: can't multiply sequence by non-int of type 'str'
# 문자열끼리의 곱셈은 에러가 발생한다. 
# strTimes = "Python" *"Hello"

In [246]:
#

# 쌍따옴표로 구성된 문자열 안에 쌍따옴표를 포함시키고자 할 경우 
# SyntaxError: invalid syntax
# message = "Hello" Python "World"

In [247]:
# 해결방법

massage = "Hello \" Python\" World"

In [248]:
# 이스케이프 문자 

#
case1 = "Life is \"too\" short"
print(case1)

Life is "too" short

In [249]:
#
case2 = 'Life is \'too \' short'
print(case2)

Life is 'too ' short

In [250]:
#
print("Life is too short\n You need Python")

Life is too short
 You need Python

In [251]:
#

#
#
print("Life is too short \t You need Python")

Life is too short 	 You need Python

In [252]:
#
print("Life is too short \\ You need Python")

Life is too short \ You need Python

In [253]:
#

#
#
str1 = "You 'need' Python"
print(str1)

You 'need' Python

In [254]:
#
str2 = 'You "need" Python'
print(str2)

You "need" Python

In [255]:
# 문자열의 인덱스 번호 

# 문자열의 인덱싱 

#
mystr  = "Life is too short, You need Python"
print(mystr)

Life is too short, You need Python

In [256]:
#
print(mystr[3])

e

In [257]:
#
#
print( mystr[-3])

h

In [258]:
#

# 존재하지 않는 인덱스 번호를 사용할 경우 에러가 발생한다. 
# IndexError: string index out of range
# print( mystr[100])

In [259]:
# 문자열의 슬라이싱 

#


mystr = "Life is too short, You need Python"
print(mystr)

print(mystr[ :-7])

Life is too short, You need Python
Life is too short, You need

In [260]:
#
print( mystr[0:4])

Life

In [261]:
#
print( mystr[5: 7])

is

In [262]:
#
print( mystr[ 17:])

, You need Python

In [263]:
#
print( mystr [  :  ])

Life is too short, You need Python

In [264]:
print(mystr [19:-7 ])

You need

In [265]:
# 슬라이싱에 사용되는 인덱스 번호의 순서가 잘못되면 출력되는 내용 없음 
print( mystr[7:5])

print( mystr[7:5], "\\")

 \

In [266]:
# SyntaxError: unterminated string literal (detected at line 1); perhaps you escaped the end quote?
#print("\\\\\") 홀수개 오류 

print("\\\\") # 짝수개 정상작동

\\

템들을 채우고 심란해 하자 
일단 공부나 하자 

크롤링, db입출력 부터 ~ 
설날에 공부에 투자하기 

### 4. 문자열 포메팅

In [267]:

#

#
str1 = "나는 %d원을 갖고 있다." % 10000
print(str1)

나는 10000원을 갖고 있다.

In [268]:
#
money = 123.456789
print("[%d]원 입니다." % money)

[123]원 입니다.

In [269]:
lang = "Python"
str2 = "Hello %s" %lang
print(str2)

Hello Python

In [270]:
# 두 개 이상의 형식문자 사용

#
str3 = "%s 날짜는 %d년 %d월 %d일 입니다."

msg1 = str3 % ("정모", 2003, 1, 1)
print(msg1)

msg2 = str3 % ("약속", 2023, 3, 5)
print(msg2)

정모 날짜는 2003년 1월 1일 입니다.
약속 날짜는 2023년 3월 5일 입니다.

In [271]:
#

#

# 
print("[%10d]원을 입금했습니다." % 120000)

[    120000]원을 입금했습니다.

In [272]:
#
print("[%010d]원을 입금했습니다." % 120000)

[0000120000]원을 입금했습니다.

In [273]:
# 문자열의 자리수 지정하기 -> 빈자리는 공백지정만 가능함 
print("[%10s]에 살고 있습니다." % "대한민국")

[      대한민국]에 살고 있습니다.

In [274]:
#

#
myMoney = 12345.6789

In [275]:
#
print("[%0.3f]원 입니다." % myMoney)

[12345.679]원 입니다.

In [276]:
#
#
#
print("[%10.3f]원 입니다." % myMoney)

[ 12345.679]원 입니다.

In [277]:
#
#
print("[%010.3f]원 입니다." % myMoney)

[012345.679]원 입니다.

In [278]:
#
#
print("[%010.3f]원 입니다." % myMoney)

[012345.679]원 입니다.

In [279]:
# 인덱스 번호를 사용한 문자열 포메팅 

#
msg1 = "I eat {0} apples"
print( msg1.format(3))

I eat 3 apples

In [280]:
#
msg2 = "{0}은 {1}년 {2}월 {3}일 입니다."
print( msg2.format("개강일", 2023, 1, 26))

개강일은 2023년 1월 26일 입니다.

In [281]:
#
#
fmt = "이 과자는 {price}{unit} 입니다. "
rst = fmt.format(unit="원", price=2000)
print(rst)

이 과자는 2000원 입니다.

In [282]:
#

#
#
#
msg4 = "{0}은 {yy}년 {mm}년 {dd}일 입니다."
print( msg4.format("생일", yy=2023, mm=1, dd=31))

생일은 2023년 1년 31일 입니다.

In [283]:
# 인덱스 번호는 format() 함수 내의 순서 

fmt5 = "{1} {name}는 이 {0}입니다."
rst = fmt5.format("책", "좋은", name = "교과서")
print(rst)

좋은 교과서는 이 책입니다.

In [284]:
#

# SyntaxError: positional argument follows keyword argument
# err = "이 {0}(은)는 {1} {name} 입니다."
# err_result = err.format(name="교과서", "책", "좋은")
# print(err_result)

In [285]:
# 눈으로 이해하는 구조
# 보고서 형식처럼 정렬됨.
for i in range(1,6):
    print("[%5d]" % i)


name = "연주"
score = 95

print("%-10s | %5d점" % (name, score))

[    1]
[    2]
[    3]
[    4]
[    5]
연주         |    95점

### 5. 문자열 관련 함수

.len ~의 객체 
len 최상위 객체

In [321]:
# 문자열의 길이 조회하기 

# 내장함수 len() 

# 전체 글자수 세기 -> 한글, 영문 구분 없이 1글자씩 카운트 
mystr = "Hello Python"
length = len(mystr)
print(length)

12

In [ ]:
# 반환되는 값을 변수에 저장하지 않고 직접 출력도 가능함 
print( len("안녕하세요. 파이썬"))

10

In [323]:
# 문자열로 변환하기 

# 내장함수 str(파라미터)
# 파라미터로 전달된 변수를 문자열로 변환한다. 

# 정수를 문자열로 변환 --> 데이터 타입과 결과값 확인 
num1 = 123
num1_s = str(num1)
print(type(num1_s))
print(num1_s)

<class 'str'>
123

In [324]:
# 실수를 문자열로 변환 --> 데이터 타입과 결과값 확인 
num2 = 123.45
num2_s =str(num2)
print(type(num2_s))
print(num2_s)

<class 'str'>
123.45

In [326]:
# 불리언을 문자열로 변환 --> 데이터 타입과 결과값 확인 
bool1 = True
bool1_s = str(bool1)
print(type(bool1_s))
print(bool1_s)

<class 'str'>
True

In [327]:
# 문자열 안에 포함된 특정 단어나 글자의 개수 세기 

# count() 메서드의 사용 

# 실습을 위한 샘플 문자열 
mystr = "파이썬은 웹 프로그래밍이나 데이터 분석에 많이 사용되는 언어입니다."

In [328]:
# 글자 카운트 
print( mystr.count("이"))
print( mystr.count("가"))

4
0

In [329]:
# 단어 카운트 
print( mystr.count("파이썬"))
print( mystr.count("Python"))

1
0

In [ ]:
# 특정 글자나 단어가 처음 나타나는 위치 조회 

# 실습을 위한 문자열 
message = "내가 좋아하는 것에만 집중하기로 했다. "

In [330]:
# 글자의 위치 조희 ( 찾지 못할 경우 -1을 반환한다.)
print( message.find("가"))
print( message.find("나"))

1
-1

In [331]:
# 단어의 시작 위치 조회 ( 찾지 못할 경우 -1을 반환한다.)
print( message.find("집중"))
print( message.find("파이썬"))

12
-1

In [ ]:
# 특정 글자나 단어가 마지막으로 나타나는 위치 조회 

# 실습을 위한 문자열 
sentence = "사람의 사람에 의한 사람을 위한"

In [332]:
# 글자검색
# -> 마지막으로 나타나는 글자의 위치를 왼쪽에서 0부터 카운트 
# -> 찾지 못할 경우 -1을 리턴 
print( sentence.rfind("사"))
print( sentence.rfind("자"))

11
-1

In [333]:
# 단어 검색 
print( sentence.rfind("사람"))
print( sentence.rfind("인간"))

11
-1

In [ ]:
# 대 소문자 여부 검사하기 

# 대문자 검사 -> 문자열객체.isupper(), 소문자 검사 -> 문자열객체.islower()

# 문자열이 대문자로 구성된 경우 True 
test3 = "HELLO"
print(test3.isupper())

# 문자열이 대문자로 구성되지 않은 경우 False
test4 = "Hello"
print(test4.isupper())

True
False

In [301]:
# 문자열이 소문자로 구성된 경우 True 
test5 = "hello"
print(test5.islower())

# 문자열이 소문자로 구성되지 않은 경우 False
test6 = "Hello"
print(test6.islower())

True
False

In [338]:
# 대소문자 변환하기 (1)

# upper(), lower() 메서드의 사용 

# 실습을 위한 문자열 
mystr = "Hello Python"

In [339]:
# 모든 글자를 대문자로 변환한 결과를 리턴한다. 
up = mystr.upper()
print( up )

HELLO PYTHON

In [340]:
# 모든 글자를 소문자로 변환한 결과를 리턴한다. 
lw = mystr.lower()
print(lw)

hello python

In [341]:
# 원본 문자열은 변화없다. 
print(mystr)

Hello Python

In [342]:
# 대소문자 변환하기 (2)

# swapcase() , capitalize(), title() 메서드의 사용

# 대문자는 소문자로 , 소문자는 대문자로 변환한 결과를 반환한다. 
print( mystr.swapcase())

hELLO pYTHON

In [344]:
# 문장의 첫 글자를 대문자로 변환한 결과를 반환한다.
# -> 나머지 모든 글자는 소문자 처리함 
print( mystr.capitalize())

Hello python

In [345]:
# 각 단어의 첫 글자를 대문자로 변환한 결과를 반환한다. 
print( mystr.title())

Hello Python

In [ ]:
# 공백 지우기 

# 문자열객체.strip() , 문자열객체.lstrip(), 문자열객체.rstrip() 
# 문자열의 앞뒤 공백, 왼쪽 공백, 오른쪽 공백을 삭제한다. 

# 실습을 위한 문자열 ( 앞 , 뒤에 공백이 포함되어 있다. )
k = "          python          "
print( "["   +   k   +    "]" )

# 1) 앞 뒤 공백 제거 
x = k.strip()
print( "["   +   x   +  "]" )

# 2) 왼쪽 공백 제거 
y = k.lstrip() 
print( "["    + y + "]"    )

# 3) 오른쪽 공백 제거 
z = k.rstrip() 
print( "["  +   z   +   "]")

[          python          ]
[python]
[python          ]
[          python]

In [346]:
# 문자열 바꾸기 

# 문자열객체.replace("원본값", "변경할 값")
# 문자열에서 원본값을 모두 변경할 값으로 치환한 결과를 리턴한다. (원본은 변하지 않는다.)

#
myMessage = "Hello World"


# 변수.replace( A, B) , 변수에서 A를 B로 변경한 결과를 반환 
newMessage = myMessage.replace("World", "Python")
print( newMessage)

# 원본은 변화 없음 
print(myMessage)

Hello Python
Hello World

In [ ]:
# 문자열 자르기  

# 문자열객체.split(기준값)
# 파라미터로 전달된 기준값을 사용하여, 문자열을 잘라낸 후 리스트로 변환한다. 

#AttributeError: 'str' object has no attribute 'slist'

# 문자열을 잘라서 리스트로 변환하기 
sample1 = "파이썬,데이터분석,머신러닝"
slist1 = sample1.split(",") # 문자열을 잘라낼 기준값을 파라미터로 지정 
print(slist1)

['파이썬', '데이터분석', '머신러닝']

In [ ]:
# split() 메서드에 파라미터가 없을 경우 공백을 기준으로 잘라낸다. 
sample2 = "파이썬 데이터분석 머신러닝"
slist2 = sample2.split()
print(slist2)

['파이썬', '데이터분석', '머신러닝']

In [347]:
# 숫자로만 구성된 문자열인지 검사 

# 문자열 객체 .isnumeric()
# 문자열이 숫자로만 구성된 경우 True / 그렇지 않을 경우 False를 반환한다. 

# 숫자로만 구성된 문자열인 경우 True
test1 = "123"
print(test1.isnumeric())

True

In [320]:
# 숫자로만 구성되지 않은 문자열인 경우 False
test2 = "Hello123"
print(test2.isnumeric())

False